* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 4px solid #0f8ec9;
  width: 400px;
  font-size: 16px;
  font-family: Lato;
}

.heading-row,
.content-row {
  display: flex;
  justify-content: space-between;
}

.heading-row {
  background-color: #F7F7F7;
  border-bottom: 2px solid #E3E3E3;
}

.heading-row .heading-col-2 {
  width: 50%;
  background-color: #efecec;
  padding: 5px 10px;
}

.content-row {
  border-bottom: 1px solid #d5d0d0;
  padding-left: 1px;
  margin-left: 10px;
  padding: 10px 10px 10px 0;
  font-weight: 600;
}

.heading-row .heading-col-1,
.heading-row .heading-col-2 div:first-child {
  font-size: 93%;
}

.heading-row .heading-col-2 div,
.content-row .content-col-2 div {
  justify-content: right;
  text-align: end;
}

.heading-row .heading-col-1 {
  align-self: flex-end;
  padding-left: 10px;
  padding-bottom: 3px;
}

.heading-row .heading-col-2 div:first-child::first-letter {
  color: #0f8ec9;
  font-weight: 600;
}

.heading-row .heading-col-2 div:last-child {
  color: #938e8e;
  font-size: 95%;
}
.content-row .content-col-1 {
  align-self: center;
  font-size: 130%;
  color: #0f8ec9;
  font-weight: 800;
}

.cost {
  font-size: 120%;
  padding: 3px 0;
}
.inc-percent {
  font-size: 90%;
  color: green;
}
.dec-percent {
  font-size: 90%;
  color: red;
}

.loadMore {
  margin: 23px;
  text-align: center;
  font-size: 130%;
  font-weight: 600;
  color: #0f8ec9;
}
